@model dynamic

@{
    ViewBag.Title = "New";
}

<h2>New Rental Form</h2>


<form id="newrental">
    <div class="form-group">
        <label for="customer">Customer</label>
		<div class="tt-container">
			<input type="text" name="customer" required data-rule-validCustomer="true" value="" class="form-control" id="customer-textbox" />
		</div>
    </div>
	<div class="form-group">
		<label for="movie">Movie</label>
		<div class="tt-container">
			<input type="text" name="movie" value="" data-rule-validMovie="true" class="form-control" id="movies-textbox" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-4 col-lg-4">
			<ul id="movies" class="list-group"></ul>
		</div>
	</div>

	<button class="btn btn-primary">Submit</button>
</form>

@section scripts{
	@Scripts.Render("~/bundles/jqueryval")
    <script>
		$(document).ready(function () {
			var vm = {
				customerId: 0,
				movieIds: []
			};

			var customers = new Bloodhound({
				datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				//Provides data upon inicilization
				//prefetch: '../data/films/post_1960.json',
				remote: {
					url: '../api/customers?query=%QUERY',
					wildcard: '%QUERY'
				}
			});

			$('#customer-textbox').typeahead({
				minLength: 3,
				highlight: true
			}, {
				name: 'customers',
				display: 'name',
				source: customers
			}).on("typeahead:select", function (e, customer) {
				vm.customerId = customer.id;
			});

			var movies = new Bloodhound({
				datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				//Provides data upon inicilization
				//prefetch: '../data/films/post_1960.json',
				remote: {
					url: '../api/movies?query=%QUERY',
					wildcard: '%QUERY'
				}
			});

			$('#movies-textbox').typeahead({
				minLength: 3,
				highlight: true
			}, {
				name: 'movies',
				display: 'name',
				source: movies
			}).on("typeahead:select", function (e, movie) {
				$("#movies").append("<li class='list-group-item'>" + movie.name + "</li>");
				$("#movies-textbox").typeahead("val", "");
				vm.movieIds.push(movie.id);
			});

			$.validator.addMethod("validCustomer", function () {
				return vm.customerId && vm.customerId !== 0;
			}, "Please select a valid customer");

			$.validator.addMethod("validMovie", function () {
				return vm.movieIds.length !== 0
			}, "Please select at least one movie");

			var validator = $("#newrental").validate({
				submitHandler: function () {
					$.ajax({
						url: "/api/NewRentals",
						method: "post",
						data: vm
					}).done(function () {
						toastr.success("Rentals successfully recorded.");
						$("#customer-textbox").typeahead("val", "");
						$("#movies-textbox").typeahead("val", "");
						$("#movies").empty();

						vm = {
							customerId: 0,
							movieIds: []
						};

						validator.resetForm();
					}).fail(function () {
						toastr.error("Unexpected happened.");
					});

					return false;
				}
			});
        });
    </script>    
}